<div class="wrap_left artlist">
    <div class="art_block" ng-repeat="art in data.arts">
        <div class="art_left"></div>
        <div class="art_center">
            <div class="left">
                <img src="./Pulic/upload/Article/{{art.img}}" />
            </div>
            <div class="right">
                <h1><a href="#article/view/{{art.id}}">{{art.title}}</a></h1>
                <div>[<a href="#article/{{art.cid}}">{{art.cid}}</a>]
                <span>  点击次数：{{art.apv}}次  发表时间：{{art.add_time}}</span>
                </div>
                <p>{{art.content}}</p>
            </div>
        </div>
    </div>
    <div class="page">{{data.page}}</div>
</div>

<div class="wrap_right">
    <div class="rbox_220 fr subcate">
        <div class="rbox_220_top"></div>
        <div class="rbox_220_center">
            <div class="title">子分类</div> 
            <div class="content">
                <a href="__APP__/article/index/cid/{$cate.id}" id="cat_{$cate.id}" ng-repeat="cate in data.categorys">{{cate.title}}</a>
            </div>
        </div>
        <div class="rbox_220_bottom"></div>
    </div>
</div>