<div class="rbox_220 fl product">
    <div class="rbox_220_top"></div>
    <div class="rbox_220_center">
        <div class="title">产品分类</div>
        <div class="content">
            <a href="#product/{{cate.id}}" class="cate" id="cat_{{cate.id}}" ng-repeat="cate in data.categorys">{{cate.title}}
                 <a href="#product/{{sub.id}}" class="subcate" id="cat_{{sub.id}}" ng-repeat="sub in cate.sub">{{sub.title}}</a>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="rbox_220_bottom"></div>
</div>

<div class="rbox_750 fr product_index">
    <div class="rbox_750_top"></div>
    <div class="rbox_750_center">
            <div class="column" ng-repeat="product in data.products">
                <div class="img fl"><a href="#product/view/{{product.id}}"><img ng-src="./Public/upload/product/thumb_{{product.cover}}" /></a></div>
                <div class="name"><a href="#product/view/{{product.id}}">{{product.title}}</a></div>
                <div class="desc">{{product.description}}</div>
                <div class="price">价格：{{product.price}}</div>
                <div class="clear"></div>
            </div>
        <div class="clear"></div>
        <div class="page">{$page}</div>
    </div>
    <div class="rbox_750_bottom"></div>
</div>