<div class="rbox_220 fl product">
    <div class="rbox_220_top"></div>
    <div class="rbox_220_center">
        <div class="title">产品分类</div>
            <a href="#product/{{cate.id}}" class="cate" ng-repeat="cate in data.categorys">{{cate.title}}</a>
            <a href="#product/{{sub.id}}" class="subcate" ng-repeat="sub in cate.sub">{{cate.title}}</a>
    </div>
    <div class="rbox_220_bottom"></div>
</div>
<div class="rbox_750 fr product_view">
    <div class="rbox_750_top"></div>
    <div class="rbox_750_center">
        <h2>商品简介</h2>
        <div class="intro">
            <div class="cover fl"><img osrc="./Public/upload/product/{{data.product.cover}}" id="cover" /></div>
            <div class="title">名称：{{data.product.title}}</div>
            <div class="desc">简介：{{data.product.description}}</div>
            <div class="price">价格：{{data.product.price}}</div>
            <div class="clear"></div>
        </div>
        <h2>详细介绍</h2>
        <div class="detail" ng-bind-html="data.product.content|toHtml">
        </div>
    </div>
    <div class="rbox_750_bottom"></div>
</div>
<script>
$(document).ready(function(){
    var src = $("#cover").attr("osrc");
    var img = new Image();
    img.src = src;
    img.onload = function(){
        var cover = $('#cover');
        var w = img.width;
        var h = img.height;
        if(w/h>0.75) {
            cover.attr("width", 200);
            cover.css("margin-top", 75-h*100/w + "px");
            cover.attr("src", src);
        } else {
            cover.attr("height", 150);
            cover.css("margin-left", 100-w*75/h + "px");
            cover.attr("src", src);
        }
    };
});
</script>