<div class="rbox_980">
    <div class="rbox_980_top"></div>
    <div class="rbox_980_center">
        <h2>
            <a href="#video/{{cate.id}}" id="cat_{{cate.id}}" style="margin-right:20px" ng-repeat="cate in data.categorys">{{cate.title}}</a>
        </h2>
        <div ng-repeat="video in data.videos">
            <table class="video_table">
                <tr><td style="border-bottom:#FFF solid 1px; height:97px"><a href="#video/view/{{video.id}}"><img src="./Public/upload/video/{{video.img}}" /></a></td></tr>
                <tr><td align="center"><a href="#video/view/{{video.id}}" style="display:block; height:20px; overflow:hidden">{{video.title}}</a></td></tr>
            </table>
        </div>
        <div class="clear"></div>
        <div class="page">{$page}</div>
    </div>
    <div class="rbox_980_bottom"></div>
</div>