<script type="text/javascript" src="./Public/javascript/jquery.lazyload.js"></script>
<script type="text/javascript" src="./Public/plugins/highslide/highslide-with-gallery.js"></script>
<link rel="stylesheet" type="text/css" href="./Public/plugins/highslide/highslide.css" />
<!--[if lt IE 7]>
<link rel="stylesheet" type="text/css" href="./Public/plugins/highslide/highslide-ie6.css" />
<![endif]-->

<script type="text/javascript">
$("img").lazyload({
     placeholder : "./Public/images/blank.jpg",       
     effect      : "fadeIn"
 });
hs.graphicsDir = './Public/plugins/highslide/graphics/';
hs.align = 'center';
hs.transitions = ['expand', 'crossfade'];
hs.fadeInOut = true;
hs.dimmingOpacity = 0.8;
hs.outlineType = 'rounded-white';
hs.captionEval = 'this.thumb.alt';
hs.marginBottom = 105; // make room for the thumbstrip and the controls
hs.numberPosition = 'caption';

// Add the slideshow providing the controlbar and the thumbstrip
hs.addSlideshow({
    //slideshowGroup: 'group1',
    interval: 5000,
    repeat: false,
    useControls: true,
    overlayOptions: {
        className: 'text-controls',
        position: 'bottom center',
        relativeTo: 'viewport',
        offsetY: -60
    },
    thumbstrip: {
        position: 'bottom center',
        mode: 'horizontal',
        relativeTo: 'viewport'
    }
});
</script>
<div class="rbox_980">
    <div class="rbox_980_top"></div>
    <div class="rbox_980_center">
        <h2>
            <a href="#photo/{{cate.id}}" id="cat_{{cate.id}}" style="margin-right:20px" ng-repeat="cate in data.categorys">{{cate.title}}</a>
        </h2>
            <div class="pho_block" ng-repeat="photo in data.photos">
            <table class="img_table"><tr><td>
                <a href='./Public/upload/photo/{{photo.img}}' onclick="return hs.expand(this)">
                    <img  src='./Public/upload/photo/thumb_{{photo.img}}' alt='{{photo.title}}'/></a>
            </td></tr></table>
             <span class="title">{{photo.title}}</span>
            </div>
        <div class="clear"></div>
        <div class="page">{$page}</div>
    </div>
    <div class="rbox_980_bottom"></div>
</div>