<!DOCTYPE html>
<html ng-app>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>标题</title>
    <link rel="stylesheet" type="text/css" href="../Public/themes/default/style.css" />
    <script src="controllers.js"></script>
</head>
<body>
<div class="wrap" ng-controller="IndexCtrl">
    <div class="header">
        <div class="logo"><img src="../Public/images/logo.png" /></div>
        <div class=""></div>
       
        <form action="__APP__/index/search" method="post" >
        <div class="search">
            <input type="text" name="words" id="words" class="text" />
            <input type="submit" value="" class="btn" />
        </div>
        </form>
        
    </div><!--头部-->
    
    <div class="nav">
        <ul>
            <li><a href="">首页</a></li>
            <li ng-repeat="cate in categorys">
                <a href="">{{cate.name}}</a>
            </li>
        </ul>
    </div><!--导航-->
    
    <div class="crumb">
        <span class="crumb_ad">
            <font color="green">想参观后台？请使用用户名：guest 密码：guest </font>
            <font color="red"><a href="__ROOT__/admin.php">点此登录</a></font>
        </span>
        <span>您的位置：<a href="__APP__">首页</a></span>
        <volist name="crumbs" id="vo">
        <span class="gt"></span>
            {$vo.title}
        </volist>
    </div><!--位置-->
    
    <div class="rbox_320">
        <div class="rbox_320_top"></div>
        <div class="rbox_320_center">
            <div id="slide">    
                <div id="slide_bg"></div><div id="slide_info"></div>
                <div id="slide_control">
                    <ul>
                        <volist name="slide" id="vo">
                        <li><b>{$i}</b></li>
                        </volist>
                    </ul>
                </div>
                <div id="slide_list">
                    <volist name="slide" id="vo">
                    <a href="{$vo.link}" target="_blank"><img src="../Public/upload/photo/{$vo.img}" title="{$vo.title}" alt="{$vo.intro}" /></a>
                    </volist>
                </div>
            </div>
        </div>
        <div class="rbox_320_bottom"></div>
    </div><!--幻灯特效-->
    
    <div class="rbox_320 ml10 diary">
        <div class="rbox_320_top"></div>
        <div class="rbox_320_center">
            <div class="top">
                <a target="_blank" href="#"><img src="../Public/images/admin_head.png" width="50" height="50" /></a>   
                <div class="line title"><a href="__URL__/diary" class="fr">查看更多</a>站长日记 </div>   
                <div class="line">QQ：378417067 | 交流群：22528248</div>   
            </div>
            <div class="bottom">
                <volist name="diary" id="vo">
                <div title="{$vo.content}"><font color="#00CCFF">※&nbsp;&nbsp;</font>{$vo.content}</div>
                </volist>
            </div>
        </div>
        <div class="rbox_320_bottom"></div>
    </div><!--站长日记-->
    
    <div class="rbox_320 ml10 fr">
        <div class="rbox_320_top"> </div>
        <div class="rbox_320_center">
            {:getCode(1)}
        </div>
        <div class="rbox_320_bottom"></div>
    </div><!-- 视频展示 -->
    
    <div class="topart mt10">
        <volist name="top_art" id="vo">
        <div class="art_block">
            <div class="art_left"></div>
            <div class="art_center">
            </if>
                <div class="left"><empty name="vo.img"><img src="../Public/images/noimg.jpg" /><else/><img src="__PUBLIC__/Upload/article/{$vo.img}" /></empty></div>
                <div class="right">
                    <h1><a href="__APP__/article/view/id/{$vo.id}">{$vo.title|msubstr=0,30,'utf-8', false}</a></h1>
                    <div>[<a href="__APP__/article/view/id/{$vo.cid}">{$vo.cid|getCategoryName}</a>] 浏览次数：{$vo.apv} 次  发表时间：{$vo.add_time|date='Y-m-d H:i:s',###}</div>
                    <p>{$vo.content|strip_tags|str_replace='　', '',###|msubstr=0,300}</p>
                </div>
            </div>
        </div>
        </volist>
    </div><!--文章列表-->  
    
    <div class="rbox_320 art_tab mt10 ml10">
        <div class="rbox_320_top"></div>
        <div class="rbox_320_center">
            <div class="title">
                <a href="javascript:;" onclick="show('hot_block')" style="font-weight:bolder">热门文章 </a> ｜ 
                <a href="javascript:;" onclick="show('top_block')" style="color:#a1a1a1">最新文章</a> | 
                <a href="javascript:;" onclick="show('mes_block')" style="color:#a1a1a1">最新留言</a> ｜ 
                <a href="javascript:;" onclick="show('com_block')" style="color:#a1a1a1">最新评论</a>
            </div>
           
            <div id="hot_block">
            <volist name="hot_art" id="vo">
                <div class="line">
                    <div title="{$vo.title}"  class="nowrap">
                        <div class="hot_ico"></div>
                        <a href="__APP__/article/view/id/{$vo.id}" title="{$vo.title}">{$vo.title}</a>
                    </div>
                    <div style="color:#A1A1A1">浏览次数：{$vo.apv} 次</div>
                </div>
            </volist>
            </div><!--热门-->
           
            <div id="top_block" style="display:none">
            <volist name="new_art" id="vo">
                <div class="line">
                    <div title="{$vo.title}"  class="nowrap">
                        <div class="new_ico"></div>
                        <a href="__APP__/article/view/id/{$vo.id}" title="{$vo.title}">{$vo.title}</a>
                    </div>
                    <div style="color:#A1A1A1">浏览次数：{$vo.apv} 次</div>
                </div>
            </volist>
            </div><!--最新-->
            
            <div id="mes_block" style="display:none">
            <volist name="new_leave" id="vo">
                <div class="block" >   
                    <div class="left"><img class="avatar" src="__PUBLIC__/images/head/{$vo.head}" width="32" height="32" /></div>
                    <div class="right" title="{$vo.content}">{$vo.nickname} 说:<div class="nowrap">{$vo.content}</div></div>
                </div>
            </volist>
            </div><!--留言-->
            
            <div id="com_block" style="display:none">
            <volist name="new_comment" id="vo">
                <div class="block" >   
                    <div class="left"><img class="avatar" src="__PUBLIC__/images/head/{$vo.head}" width="32" height="32"/></div>
                    <div class="right">
                        <div class="nowrap">{$vo.nickname} 评论了： <a href="__APP__/article/view/id/{$vo.aid}" style="color:#f00"  title="{$vo.aid|getArticleById}"> {$vo.aid|getArticleById}</a></div>
                        <div class="nowrap" title="{$vo.content}" >{$vo.content}</div>
                    </div>
                </div>
            </volist>
            </div> <!--评论-->
            
        </div>
        <div class="rbox_320_bottom"></div>
    </div><!--文章Tab-->
   
    <div class="clear"></div>
    <div class="footer">
        <div class="flink"><b>友情链接：</b>
            <volist name="link" id="vo">
                <a href="{$vo.url}" title="{$vo.intro}" target="_blank">{$vo.title}</a>
            </volist>        
        </div>
        <div class="copyright">
            <a href="__APP__" onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{$Think.config.xpcms_url}');">设为首页</a>&nbsp;&nbsp;|&nbsp;&nbsp; 
            <a href="javascript:window.external.addfavorite('{$Think.config.xpcms_url}','XPCMS');">加入收藏</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="mailto:{$Think.config.email}">联系站长</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="__ROOT__/admin.php" target="_blank">后台登录</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="__APP__/link">友情链接</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="__APP__/comment">留言反馈</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="javascript:;">{$Think.config.icp_num}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a href="http://www.xpcms.net" target="_blank">Powered By XPCMS {$Think.config.xpcms_version}</a> 
        </div>
    </div>
</div><!--main end-->
</body>
</html>